*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(99, 99, 99);
  color: rgb(255, 255, 255);
}
.cartImg{
  height: 60px;
  width: 60px;
}

ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
}
li{
  padding: 0 10px;
  text-transform: uppercase;
}

h1{
  display: flex;
  font-size: 2rem;
  padding-bottom: 5px;
  
}
h2{
  font: 700;
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.counter{
  margin-top: 1rem;
  text-align: center;
}
h3{
  font-size: 35px;
  text-align: center;
  
}
.plus , .minus{
margin-left: 3rem;
color: white;
background-color: black;
height: 20px;
width: 40px;
}

.plus:hover , .minus:hover{
  box-shadow: 0px 0px 10px rgb(1, 1, 141);
}

.item{
  display: grid;
}
.divCars{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 5rem 0;
}