* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(99, 99, 99);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 5px rgb(119, 119, 119);
}
.navBarTitle {
  display: flex;
  font-size: 2rem;
  padding-bottom: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
}

li {
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cartImg {
  height: 60px;
  width: 60px;
}

.grid-container {
  display: grid;
  grid-template-areas: "items";
  grid-gap: 0.5rem;
  margin: 5rem 2rem;
}

.items {
  border-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid rgb(172, 172, 172);
}
.items:hover {
  box-shadow: 0px 0px 8px black;
}
.carImg{
  height: 300px;
  width: 400px;
}

h2 {
  font: 700;
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.titlePokemon {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
h3 {
  text-transform: lowercase;
  color: #000;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.plus,
.minus {
  margin-left: 2rem;
  color: white;
  background-color: black;
  height: 20px;
  width: 40px;
}

.plus:hover,
.minus:hover {
  box-shadow: 0px 0px 10px rgb(1, 1, 141);
}

.itemDetails {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border: 1px solid gray;
}

@media screen and (min-width: 480px) {
  .grid-container {
    grid-template-areas: "items items items";
  }
}
